<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>100 Days from Today</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body>

      <div ng-controller="inputController">
          <form action="">
              <input type="text" ng-model="input" />
              <button ng-click="submit()" type="submit">Submit</button>
          </form>

          <h1 ng-bind="value"></h1>
      </div>

      <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
      -->
      <script src="dist/libs/angular/angular.js"></script>
      <script src="dist/js/app.js"></script>
      <script src="dist/js/controllers/inputController.js"></script>
      <script src="dist/js/services/parseInputService.js"></script>
    </body>
</html>
