* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
}

.form {
  position: relative;
  margin: 20% auto 0;
  width: 80%;
}

.input-container {
  padding-right: 100px;
}

.input {
  font-size: 1.2em;
  padding: .2em;
  width: 100%;
  height: 35px;

  &::-webkit-input-placeholder {
    color: #ddd;
  }
}

.button {
  position: absolute;
  top: 0; right: 0;
  width: 100px;
  height: 35px;
}

.output {
  font-weight: normal;
  margin-top: 60px;
  text-align: center;
}